.navigation-container{
    .navbar{
        .container-fluid{
            .navbar-brand{
                .nav-logo{
                    width: 120px;
                    height: 60px;
                }
            }
            .collapse{
                .navbar-nav{
                    width: 100% !important;
                    justify-content: space-around !important;
                    .nav-item{
                        .nav-link{

                        }
                    }
                }
            }
        }
    }
}