.mycart-container{
    h2{
        text-align: center;
    }
    .btn-thanhtoan{
        display: flex;
        justify-content: end;
        width: 100%;
    }
    .table-responsive{
        .table-primary{
            thead{
                tr{
                    .col{

                    }
                }
            }
            .tbody{
                .tr-tbody{
                    
                    .img-td{
                      
                    }
                }
            }
        }
    }
}